################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Music Player
/bin
/obj
"Music Player.csproj.user"
